.dark_btn,
.outline_btn {
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
  min-width: 220px;
  font-size: 16px;
  justify-content: center;
  cursor: pointer;
}

.dark_btn {
  background-color: black;
  color: white;
}

.outline_btn {
  border: 1px solid black;
  color: black;
  width: 100%; 
}
